.Image {
  width: 15%;
}
.row {
    margin: auto 0 !important;
}
.Map2{
    /* margin-right: 80px; */
    margin-right: auto;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
 
}

.Welcome {
  font-weight: 700;
  font-size: 2.4em;
}
.Body {
  display: inline-block;
  /* min-height: 700px; */
}
.Logo {
  height: auto;
  width: 100%;
}

.Splash {
  max-height: 600px;
}
.Function {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.Wavy-color {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 140%;
  min-width: 1200px;
}
