.Logo {
    height: auto;
    width: 100%;
}
.Github {
    cursor: pointer;
    font-size: 2em;
    float: right;
}
.Social {
    flex-grow: 2;
}
.Footer {
    text-align: left;
    align-items: center;
    display: flex;
    color: white;
    flex-direction: row;
    z-index: 16;
    padding: 0 10px;
    min-height: 5vh;
    background-color: #05152F;
    position: relative;
    bottom: 0px;
    width: 100%;

}