.Navigation {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.Navbar {
   width: 100%;
   padding: 5px 0 10px 0;
}
.custom-nav {
    height: 70px;
    background-color: #05152F;
}
.Link {
    font-size: 1.4em;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    color: white !important;
}
.Image {
    width: 15%;
}
.Logo {
    height: auto;
    width: 100%;
}