.Navigation {
    min-height: 10vh;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.Navbar {
   width: 100%;
   margin: -10px;
}
.Image {
    width: 15%;
}
.Logo {
    height: auto;
    width: 100%;
}